.place__title {
  color: white;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    width: 97%;
  }  
}

@media screen and (max-width: 680px) {
  .place__title {
    font-size: 38px;
    line-height: 42px;
    width: 100%;
    grid-area: 1 / 1;
  }  
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    width: 90%;
  }  
}