.place__image {
  width: 100%;
  grid-area: 2 / 1;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
    grid-area: 2 / 1
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 340px;
    grid-area: 2 / 1
  }  
}