.place__paragraphs {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 26px;
  width: 100%;
}
 
@media screen and (max-width: 768px) {
  .place__paragraphs {
    gap: 25px;
  }
}

@media screen and (max-width: 680px) {
  .place__paragraphs {
    grid-area: 4 / 1;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraphs {
    width: 90%;
  }
}