.header__lang-link_active {
  color: #FFFFFF;
  max-width: 30px;
  /* max-height: 28px; */
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

@media screen and (max-width: 320px) {
  .header__lang-link_active {
    font-size: 18px;
    line-height: 20px;
    max-width: 22px;

  }
}