.lead__title {
  max-height: 200px;
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
}

@media screen and (max-width: 694px) {
  .lead__title {
  font-size: 56px;
  line-height: 60px;
  }
}

@media screen and (max-width: 395px) {
  .lead__title {
  font-size: 40px;
  line-height: 44px;
  }
}