.footer__links {
  display: flex;
  max-width: 70%;
  width: calc(100% - 30%);
  gap: 18px;
}

@media screen and (max-width: 708px) {
  .footer__links {
    width: 100%;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
  }
}