.intro__text {
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 40px 0 34px;
  }