.root {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2a2c2f;
  /* background: #81858d; */
  display: flex;
  justify-content: center;
}