.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 32px auto 64px;
  padding: 0;
  
  
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
    max-width: 640px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 39px;
    }
}