.lead__subtitle {
  max-height: 72px;
  max-width: 640px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 32px auto 64px;
  /* padding: 32px auto 64px; */
    
}