.lead__caption {
  max-height: 14px;
  max-width: 160px;   
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;

 
  }