.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 1fr 460px;
  width: 100%;
  gap: 48px 40px;
  outline: solid 1px wheat;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-template-rows: 1fr 440px;
    gap: 48px 32px;
  }  
}
  
@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto 1fr;
    gap: 42px 28px;
  }  
}