.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto;
  width: 100%;
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-template-rows: 1fr auto;
    gap: 48px 32px;
  }  
}
  
@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto 1fr;
    gap: 48px 28px;
  }  
}

@media screen and (max-width: 680px) {
  .place {
    grid-template-columns: 100%;
    grid-template-rows: auto 3fr;
    gap: 32px;
    justify-items: center;
  }  
}