.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  width: calc(100% - 48px*2);
  margin-bottom: 24px;
}

.footer__links {
  display: flex;
  width: 39.3%;
  justify-content: space-between;
}

.footer__link {
  /* width: 50px; */
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.footer__copyright {
  width: 15.9%;
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}