.header__lang-links {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 18px;
  margin: 18px 0 6px;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    margin: 14px 0 8px;
    justify-content: flex-end;
  }
}
  
