.place__website {
  max-width: 100%;
  align-self: end;
  grid-area: 1 / 2 / 2 / 3;
}

@media screen and (max-width: 680px) {
  .place__website {
    width: 100%;
    grid-area: 2 / 1;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    width: 90%;
  }
}
